@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}


.container {
    text-align: center;
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.logo {
    font-weight: 900;
    font-size: 1.5em;
    background: linear-gradient(to right, #11998e, #38ef7d);
    -webkit-background-clip: text;
    color: transparent;
}

.connect-wallet-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.submit-btn:hover {
    background-color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.result-container h2 {
    font-weight: 400;
    padding: 10px 0;
}

#score {
    font-size: 2em;
    color: #38ef7d;
    padding: 10px 0;
}

.stats-btn {
    margin: 20px 0;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 400;
    font-size: 1em;
}

.hidden {
    display: none;
}

.footer {
    text-align: center;
    padding-top: 20px;
}

.footer-link {
    padding: 0 10px;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}


